pdp-datafactory1/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "pdp-datafactory1"
		},
		"5928AzureDataLakeStorage_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of '5928AzureDataLakeStorage'"
		},
		"5928Localfilesystem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of '5928Localfilesystem'"
		},
		"5928AzureDataLakeStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://pradeepadls.dfs.core.windows.net"
		},
		"5928Localfilesystem_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\pradadmin\\Desktop\\sourcedata"
		},
		"5928Localfilesystem_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "pradadmin"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/5928AzureDataLakeStorage')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('5928AzureDataLakeStorage_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('5928AzureDataLakeStorage_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/onpremir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Send_Notification')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Send_email",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-02.southeastasia.logic.azure.com:443/workflows/c09844739c1c4361b53baf1591347584/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=hYJkdMsw1XTgls6k_D9rO_K81Sjyz2T66OuAe2K_fMQ",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"DataFactoryName": "@{pipeline().DataFactory}",
								"PipelineName": "@{pipeline().Pipeline}",
								"Subject": "@{pipeline().parameters.Subject}",
								"ErrorMessage": "@{pipeline().parameters.ErrorMessage}",
								"EmailTo": "@pipeline().parameters.EmailTo"
							}
						}
					}
				],
				"parameters": {
					"EmailTo": {
						"type": "string",
						"defaultValue": "No email sent"
					},
					"ErrorMessage": {
						"type": "string",
						"defaultValue": "No email sent"
					},
					"Subject": {
						"type": "string",
						"defaultValue": "No email sent"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/5928destfile')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "5928AzureDataLakeStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "dest"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/5928AzureDataLakeStorage')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/5928Localfilesystem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('5928Localfilesystem_properties_typeProperties_host')]",
					"userId": "[parameters('5928Localfilesystem_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('5928Localfilesystem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "onpremir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/onpremir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/5928sourcedataset')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "5928Localfilesystem",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "name",
						"type": "String"
					},
					{
						"name": "rank",
						"type": "String"
					},
					{
						"name": "year",
						"type": "String"
					},
					{
						"name": "company.founded",
						"type": "String"
					},
					{
						"name": "company.name",
						"type": "String"
					},
					{
						"name": "company.relationship",
						"type": "String"
					},
					{
						"name": "company.sector",
						"type": "String"
					},
					{
						"name": "company.type",
						"type": "String"
					},
					{
						"name": "demographics.age",
						"type": "String"
					},
					{
						"name": "demographics.gender",
						"type": "String"
					},
					{
						"name": "location.citizenship",
						"type": "String"
					},
					{
						"name": "location.country code",
						"type": "String"
					},
					{
						"name": "location.gdp",
						"type": "String"
					},
					{
						"name": "location.region",
						"type": "String"
					},
					{
						"name": "wealth.type",
						"type": "String"
					},
					{
						"name": "wealth.worth in billions",
						"type": "String"
					},
					{
						"name": "wealth.how.category",
						"type": "String"
					},
					{
						"name": "wealth.how.from emerging",
						"type": "String"
					},
					{
						"name": "wealth.how.industry",
						"type": "String"
					},
					{
						"name": "wealth.how.inherited",
						"type": "String"
					},
					{
						"name": "wealth.how.was founder",
						"type": "String"
					},
					{
						"name": "wealth.how.was political",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/5928Localfilesystem')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/On Prem Pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Azure onprem Copy Activity",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "5928sourcedataset",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "5928destfile",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Send_Notification",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Azure onprem Copy Activity",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send_Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "ppradeep2008@gmail.com",
								"ErrorMessage": "It is a success",
								"Subject": "Success"
							}
						}
					},
					{
						"name": "Send_Notification_failure",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "Azure onprem Copy Activity",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "Send_Notification",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {
								"EmailTo": "ppradeep2008@gmail.com",
								"ErrorMessage": "It is a failure ",
								"Subject": "Job failed"
							}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/5928sourcedataset')]",
				"[concat(variables('factoryId'), '/datasets/5928destfile')]",
				"[concat(variables('factoryId'), '/pipelines/Send_Notification')]"
			]
		}
	]
}